<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Signup</display-name>
    <servlet-name>Signup</servlet-name>
    <servlet-class>Signup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signup</servlet-name>
    <url-pattern>/Signup</url-pattern>
  </servlet-mapping>
  <display-name>lottery</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LotteryServlet</display-name>
    <servlet-name>LotteryServlet</servlet-name>
    <servlet-class>LotteryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotteryServlet</servlet-name>
    <url-pattern>/LotteryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ticketServlet</display-name>
    <servlet-name>ticketServlet</servlet-name>
    <servlet-class>ticketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ticketServlet</servlet-name>
    <url-pattern>/ticketServlet</url-pattern>
  </servlet-mapping>
</web-app>